@import '../../colors';

.nav-bar {
  height: 110px;
  display: flex;
  list-style: none;
  align-items: center;
  background-color: $mainRed;
  .nav-link {
    padding-left: 25px;
    a {
      text-decoration: none;
      font-weight: bold;
      color: $mainWhite;
    }
  }
  .logo {

    img {
      padding-left: 20px;
      width: 100px;
    }
  }
}